:root, [data-theme="dark"] {
  --text-color: #b0b0b0;
  --text-color-light: #888;
  --search-color: #ffffff;
  --background-color: #222;
  --border-color: #444;
  --popup-background: #333;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s;
}

[data-theme="light"] {
  --search-color: #2e2e2e;
  --text-color: #333;
  --text-color-light: #666;
  --background-color: #ffffff;
  --border-color: #ddd;
  --popup-background: #fff;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s;
}


